{% extends 'earth/earthapplayout.html' %}

{% block body %}
<div class="donatebody">
        <main id="donatematerial" class="p-4">
                <form action="{% url 'donate_material' benefactor_name.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class=" mb-3 form-group">
                        <input class="form-control" type="text" name="title" placeholder="Product Name">
                    </div>
                    <div class=" mb-3 form-group">
                        <textarea class="form-control" name="description" cols="30" rows="10" placeholder="Product Description"></textarea>
                    </div>
                    <div class=" mb-3 form-group">
                        <label class="form-label" for="itemimage">Upload image of item</label>
                        <input class="form-control" type="file" name="itemimage" id="itemimage">
                    </div>
                    <div class=" mb-3 form-group">
                        <input class="form-control" type="number" name="amount" placeholder="Amount">
                    </div>
                   <div class="form-group">
                        <input  class=" btn btn-dark form-control"  type="submit" value="submit">
                   </div>
                </form>
            </main>
</div>
{% endblock %}