#product_detail{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#product_img img{
    height: 100%;
}

@media (max-width:767px){

    #product-card{
        width: 80%;
        margin: auto
    }
}